DB_HOST=127.0.0.1
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=root
DB_NAME=task_management
PORT=7000
HOST=localhost
APP_NAME=Task management
APP_DESCRIPTION=Task management REST API
SECRET=strictly-confidential
EXP=1h
REDIS_HOST=localhost
REDIS_PORT=6379
TTL=3600000